<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index </title>
    <style>

      .input-1{
          width: 80%;
          border-radius: 10px;
          font-size: 30px;
          background: azure;
      }
      .singIn,.register,.search{
          font-size: 18px;
          border-radius: 30px;
          background: skyblue;
      }
      body {
          background-image: url("https://prostomob.com/wp-content/uploads/2021/05/olx_stal_olx.png");
          background-size: cover;
      }

    </style>

</head>
<body>
<center>
<div class="servlet1">
    <h2 class="h2-2">
        <form action="/product/search">
        <button class="search" > Search </a></button>
        <label>
            <input class="input-1" type="text" name="search" placeholder="Search">
        </label>
        <button class="singIn"                                                                                                    >  <a  href="/auth/signin"> Sign In </a></button>
        <button class="register">  <a  href="/auth/signup"> Sign Up </a></button>
        </form>
    </h2>
</div>
</center>
<center>
    <form action="/user/profile" method="get">
<button th:if="${username} != null" style="width: 160px; height: 35px;border-radius: 10px;">
    <font color="#0000cd" size="5">
        <span>My Profile</span>
    </font>
</button>
    </form>
</center>
<form action="#" th:action="@{/addExam}" method="post">
<p >
    <select th:action="@{/add}" name="davlatlar" style="font-size: 26px;width: 160px;height: 40px;border-radius: 10px" >
        <option th:each="idsAndText : ${categoryList}"
                th:value="${idsAndText}"
                th:utext="${idsAndText}">Electronics
        </option>
    </select>
</p>
</form>
<CENTER>
    <h1>
            <br>
        <center>
            <font color="green" size="50">
                WELCOME
            </font>
            &nbsp;&nbsp;
        <font color="green" size="50">
            OLX
        </font>
            &nbsp;&nbsp;
            <font color="green" size="50">
                <span th:text="${username}"></span>
            </font>
        </center>
    </h1>
</CENTER>
<center>
    <table>

        <tr th:each="product: ${productList}">
            <th th:each="inpr : ${product}">
                <form action="/product/info" method="post">
                    <p></p>
                    <button name="id" type="submit" th:if="${inpr != null}" th:value="${inpr.id}"
                            style="height: 400px;width: 350px; border: #151212">
                        <img  th:src="@{${inpr.image_url}}" alt="buttonpng" border="0"
                             style="width: 340px;height: 300px"/>
                        <p>
                            <font color="green" size="5">
                                <span  th:text="${inpr.name}"/>
                            </font>
                        </p>
                        <p>
                            <font color="green" size="2">
                                <span  th:text="${inpr.price}"/>
                            </font>
                        </p>
                    </button>
                </form>
            </th>
        </tr>


    </table>
</center>
<center>
    <br><br>
    <table>
        <th>
            <form action="/" method="get">
                <button th:if="${prev} == '<'" name="prev" type="text" value="prev" style="width: 42px; height: 28px;border-radius: 5px">
                    <font color="blue" size="3">
                        <span th:text="${prev}"/>
                    </font>
                </button>
            </form>
        </th>
        <th th:each="a: ${Pages}">
            <form action="/" method="get">
                <button name="page" type="submit" th:value="${a}" style="width: 33px; height: 28px;border-radius: 10px;">
                    <font th:if="${a}!=${z}" color="blue" size="3">
                        <span th:if="${a}!=${z}" th:text="${a}"/>
                    </font>
                    <font th:if="${a}==${z}" color="red" size="5">
                        <span th:if="${a}==${z}" th:text="${a}"/>
                    </font>
                </button>
            </form>
        </th>
        <th>
            <form action="/" method="get">
                <button th:if="${next} == '>'" name="next" type="text" value="next" style="width: 42px; height: 28px;border-radius: 5px">
                    <font color="blue" size="3">
                        <span th:text="${next}"/>
                    </font>
                </button>
            </form>
        </th>
    </table>
</center>


</body>
</html>