<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blocked Page</title>
    <style>
        .button-container form,
        .button-container form div {
            display: inline;
        }

        .button-container button {
            display: inline;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<CENTER>
    <h1>
        <br>
        <center>
            <font color="green" size="50">
                <span th:text="${username}"></span>
            </font>
            <font color="green" size="50">
                'S
            </font>
            &nbsp;&nbsp;
            <font color="green" size="50">
                ANNOUNCEMENTS
            </font>
        </center>
    </h1>
</CENTER>
<center>
    <tr th:each="product: ${usersProductList}">
        <div class="button-container">
            <form action="/product/info" method="post">
                <p></p>
                <div>
                    <button name="id" type="submit" th:if="${product != null}" th:value="${product.id}"
                            style="height: 400px;width: 350px; border: #151212">
                        <img th:src="@{${product.image_url}}" alt="buttonpng" border="0"
                             style="width: 340px;height: 300px"/>
                        <p>
                            <font color="green" size="5">
                                <span th:text="${product.name}"/>
                            </font>
                        </p>
                        <p>
                            <font color="green" size="2">
                                <span th:text="${product.price}"/>
                            </font>
                        </p>
                    </button>
                </div>
            </form>


            <form action="/user/blocked_an" method="post">
                <div>
                    <button th:if="${product.isBloced} == false" name="pr_id" type="submit" th:value="${product.id}"
                            style="height: 100px;width: 100px;font-size: 100px; border: #151212">
                        &#9989;
                    </button>
                    <button th:if="${product.isBloced} == true" name="pr_id" type="submit" th:value="${product.id}"
                            style="height: 100px;width: 100px;font-size: 100px; border: #151212">
                        &#10060;
                    </button>
                </div>
            </form>
        </div>
    </tr>
</center>
</body>
</html>