<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
</head>
<body>
<center>
<img th:src="@{${product.imageUrl}}">
    <h1>
        <font color="green" size="50">
            Mahsulot nomi :
            <span th:text="${product.name}"></span>
        </font>
    </h1>

    <h2>
        <font color="green" size="50">
            Mahsulot Narxi :
            <span th:text="${product.price}"></span>
        </font>
    </h2>

    <h3>
        <font color="green" size="50">
            Izoh :
            <span th:text="${product.comment}"></span>
        </font>
    </h3>
    <h3>
        <font color="green" size="50">
            E'lon egasining ismi :
            <span th:text="${product.ownerName}"></span>
        </font>
    </h3>
    <h3>
        <font color="green" size="50">
            Telefon raqami :
            <span th:text="${product.ownerNumber}"></span>
        </font>
    </h3>
</center>

</body>
</html>