<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <style>
        body {
            background-image: url("https://static.tildacdn.com/tild3766-3065-4036-b831-326236626137/top-view-male-hands-.jpeg");
            background-size: cover;
        }
    </style>
</head>
<body>
<br><br><br><br><br><br>
<div>
    <center>
        <font color="black" size="6">
            <h1>Sign In</h1>
        </font>
    </center>
    <center>
        <h3>
        <form action="/auth/signin" method="post">
            <input type="text" name="phone_number" placeholder="Telefon raqam kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
            <br><br>
            <input type="text" name="password" placeholder="Parol kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
            <br><br>
            <button style="border-radius: 5px; ">
                <p>
                    <font color="blue" size="6">
                        Login
                    </font>
                </p>
            </button>
        </form>
            <br>
            <form action="http://localhost:8080">
                <button style="border-radius: 5px; " >
                    <p>
                        <font color="red" size="6">
                            Exit
                        </font>
                    </p>
                </button>
            </form>

        </h3>
        <br><br><br><br><br><br><br>

        <!--        <button style="border-radius: 5px; ">-->
        <strong>
            <p>
                <font color="red" size="6">
                    <span th:text="${wrong_word}"></span>
                </font>
            </p>
        </strong>
        <!--        </button>-->
    </center>
</div>

</body>
</html>