<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <style>
        body {
            background-image: url("https://atrainmarketing.com/wp-content/uploads/2018/08/g9p2485u6t.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
<br><br><br><br><br><br>
<div>
    <center>
        <font color="black" size="6">
            <h1>Sign Up</h1>
        </font>
    </center>
    <center>
        <form action="/auth/save" method="post">
        <input type="text" name="full_name" placeholder="Username kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
        <br><br>
            <input type="text" name="phone_number" placeholder="Telefon raqam kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
        <br><br>
            <input type="text" name="password" placeholder="Parol kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
        <br><br>
            <input type="text" name="confirm_password" placeholder="Parolni qayta kiriting" style="font-size: 18px; height: 40px; width: 280px;border-radius: 10px; border: red" required>
        <br><br>
            <button style="border-radius: 5px; border: white">
                <p>
                    <font color="blue" size="6">
                        Register
                    </font>
                </p>
            </button>
        </form>
        <br>
        <form action="http://localhost:8080">
            <button style="border-radius: 5px; border: white">
                <p>
                    <font color="red" size="6">
                        Exit
                    </font>
                </p>
            </button>
        </form>
<br><br>

<!--        <button style="border-radius: 5px; ">-->
        <strong>
            <p>
                <font color="black" size="6">
                    <span th:text="${wrong_word}"></span>
                </font>
            </p>
        </strong>
<!--        </button>-->
    </center>
</div>

</body>
</html>